<% if current_user.present? %>
  Hey, <%= current_user.name %> |
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> |
<% else %>
  <%= link_to "Sign In", new_user_session_path %> |
  <%= link_to "Sign Up", new_user_session_path %> |
<% end %>
<%= link_to "Wikis", wikis_path %>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
