<%= simple_form_for @wiki, input_html: { class: 'form' } do |f| %>
  <div class="field block">
    <%= f.input :title, placeholder: "Enter your bliki title", label: false %>
  </div>
   <div class="field block">
    <%= f.input :body, as: :text, placeholder: "Enter your bliki content here", label: false, input_html:{ rows: 8 } %>
  </div>
  <% if current_user.role == 'admin' || current_user.role == 'premium' %>
    <div class="checkbox">
      <%= f.check_box :private %>
      <%= f.label "Is this Wiki private?" %>
    </div>
    <div class="collabos">
      Select collaborators (optional)
      <%= f.association :users, as: :check_boxes %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save it to kick the knowledge!", class: "btn block orange" %>
  </div>
<% end %>



