
<h1>Wikis#index</h1>
<%= link_to "[New]", new_wiki_path %>
<% @wikis.each do | wiki | %>
  <div class="wiki wiki-item">
    <h2 class="title"><%= wiki.title %></h2>
    <span class="owner">by <%= wiki.user.name %></span>
    <span>[<%= link_to "Show", wiki_path(wiki)%>]</span>
    <span>[<%= link_to "Edit", edit_wiki_path(wiki)%>]</span>
    <h5><%= wiki.private %>
  </div>
<% end %>