<!-- _nav partial -->
<header class="nav row">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", :alt => "Bliki") %>
    <% end %>
    <ul>
      <li><%= link_to "Blikis", wikis_path %></li>
    <% if current_user.present? %>
      <li>
        <%= link_to do %>
          Hey, <%= current_user.name %>
        <% end %>
      </li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "highlight" %></li>
    <% end %>
    </ul>
  </div>
</header>