<!DOCTYPE html>
<html>
<head>
  <title>Blikipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
    </div>
  <% end %>
  <%= render 'layouts/nav' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
